*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
app/build/
.gradle/
.idea/ 